#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    /* 1. 自定义输出引脚节点 */
    pwr_key_out: pwr-key-out {
        compatible = "gpio-leds";
        pwrkey: pwr_key {
            gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
            label = "Power Key";
        };
        sensorable: sensor_enable {
            gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
            label = "Sensor Enable";
        };
    };

    /* 2. 别名 */
    aliases {
        pwrkey = &pwrkey;
        sensorsw = &sensorable;
		bmp581 = &bmp581;
		lsm6dso = &lsm6dso;
    };
};

// &usr_btn {  
//     // 直接引用按钮的标签
//     gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
//     label = "USR";
//     zephyr,code = <INPUT_KEY_0>;  // 修改按键码
// };


/* 3. 外设配置 */
&uart21 {
    status = "disabled";
};

/* 4. I2C30 保持启用，并将其引脚重映射到 P0.03 和 P0.04 */
&i2c30 {
    status = "okay";
    pinctrl-0 = <&i2c30_default>;
    pinctrl-1 = <&i2c30_sleep>;
    pinctrl-names = "default", "sleep";

    bmp581: bmp581@46 {
        compatible = "bosch,bmp581";
        reg = <0x46>;
        status = "okay";
    };

    lsm6dso: lsm6dso@6a {
        compatible = "st,lsm6dso";
        reg = <0x6a>;
        status = "okay";
    };
};

&pinctrl {
    i2c30_default: i2c30_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 3)>,
                    <NRF_PSEL(TWIM_SDA, 0, 4)>;
        };
    };

    i2c30_sleep: i2c30_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 3)>,
                    <NRF_PSEL(TWIM_SDA, 0, 4)>;
            low-power-enable;
        };
    };
};
